<header>
  <h1 class="logo">PeopleFlow</h1>
  <button class="botaoCadastrarProfissional" routerLink="/cadastrarProfissional">Cadastrar Profissional</button>
  <button class="botaoCadastrarCargo" routerLink="/cadastrarCargo" >Cadastrar Cargo</button>
  <button class="botaoListarEmpregados" routerLink="/listarEmpregados">Buscar Funcionário</button>
  <button class="botaoListarEmpresas" routerLink="/listarEmpresas">Buscar Empresa</button>
  <button class="botaoListarCargos" routerLink="/listarCargos">Buscar Cargo</button>
  <button class="botaoHome" routerLink="/home">Home</button>
</header>
