@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Protest+Strike&display=swap");

.criar-profissional {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 3vh;
  align-items: center;
}

.tipo-cadastro {
  width: 94%;
}

.tipo-cadastro,
.dados-pessoa,
.dados-endereco {
  background-color: #c2c2c2e4;
  border: solid 0.5px #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: min-content;
  padding: 1%;
}

.campos-endereco,
.campos-pessoa {
  display: flex;
  flex-direction: column;
}

.dados-endereco {
  grid-area: dados-endereco;
}

.tipo-cadastro form {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.dados form {
  display: flex;
  flex-direction: column;
}


