<body class="imagem-fundo">
  <p class="titulo">Mantenha o controle da sua empresa</p>
  <div class="botoes">
    <button routerLink="/cadastrarProfissional" class="btTelaPrincipal">Cadastrar Profissional</button>
    <button routerLink="/cadastrarCargo" class="btTelaPrincipal">Cadastrar Cargo</button>
    <button routerLink="/listarEmpregados" class="btTelaPrincipal">Buscar Funcionário</button>
    <button routerLink="/listarEmpresas" class="btTelaPrincipal">Buscar Empresa</button>
    <button routerLink="/listarCargos" class="btTelaPrincipal">Buscar Cargo</button>
  </div>
</body>

