footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: url(../../../assets/imagens/fundo-cabecalho.png);
  background-size: cover;
  height: 10vh;
  width: 100%;
}
